<template>
    <div class="container">
        <div id="chatTable">
            <div :class="msg.wrapperClass" v-for="(msg, idx) in messages" :key="idx">
                <div :class="msg.bubbleClass">
                    <span :class="msg.textclass">{{ msg.text }}</span>
                </div>
            </div>

        </div>

        <div style="position:fixed; vertical-align: bottom; width: 800px;">
            <v-divider style="margin-right: 10px;"></v-divider>
            <v-text-field v-on:keyup.enter="send" style="width:790px;" v-model="text" label="Type message"
                :rules="sendMsgRule" prepend-icon="mdi-send"></v-text-field>
        </div>
    </div>

</template>

<script>


export default {
    created() {
        let userwithtoken = JSON.parse(sessionStorage.getItem('state'));
        this.user = userwithtoken.user; // JA
        this.interlocutor = JSON.parse(sessionStorage.getItem('interlocutor'));
        var chatid = this.$route.params.chatid;
        var host = 'ws://192.168.40.122:8080/ws/chat/t/' + this.user.username + '/' + chatid;
        try {
            this.socket = new WebSocket(host);
            this.socket.onopen = this.opensocket;
            this.socket.onmessage = this.onmessage; // RECIEVED
            this.socket.onclose = this.closesocket;
            console.log('wait');
        } catch (exception) {
            console.log(exception);
            alert('ERROR');
        }

    },
    methods: {
        send() {
            if (this.text == '') {
                this.warningMessage = 'Please enter a message';
                return;
            }
            try {
                this.socket.send(this.text);
                let userrole = 'guesttext';
                if (this.user.role == 'ADMIN') {
                    userrole = 'admintext'
                }
                this.message(this.text, 'myBubble', 'wrapper-right', userrole); // SENT
                this.text = '';
            } catch (exception) {
                console.log(exception);
                alert('ERROR');
            }
        },
        message(txt, bubble, wrapper, userrole) {
            let data;
            if (typeof txt === 'object') {
                data = {
                    text: txt.data,
                    bubbleClass: bubble,
                    wrapperClass: wrapper,
                    textclass: userrole
                }
            } else {
                data = {
                    text: txt,
                    bubbleClass: bubble,
                    wrapperClass: wrapper,
                    textclass: userrole
                }
            }

            this.messages.push(data);
        },
        opensocket: function () {
            console.log('chat ready');
        },
        onmessage: function (msg) {
            let userrole = 'guesttext';
            if (this.interlocutor.role == 'ADMIN') {
                userrole = 'admintext'
            }
            this.message(msg, 'yourBubble', 'wrapper-left', userrole); // RECIEVED
        },
        closesocket() {
            console.log('chat closed');
            sessionStorage.removeItem('interlocutor')
            this.socket.close();
            this.socket = null;
        }
    },
    data: () => ({
        user: null,
        interlocutor: null,
        socket: null,
        rowIdx: 0,
        cellIdx: 0,
        text: '',
        warningMessage: '',

        sendMsgRule: [
            value => !!value || 'Please enter a message.',
        ],

        messages: [] // message: { text: txt, bubbleClass: txt, wrapperClass: txt, userrole: txt }
    }),
    // props: ['user', 'person'],
    beforeRouteLeave(to, from, next) {
        if (to == from) {
            console.log('aoinsf')
        }
        console.log('router leave is run');
        if (typeof this.socket !== 'undefined') {
            if (this.socket != null) {
                this.socket.close();
            }

        }

        next();
    },
}

</script>

<style scoped>
.container {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 5px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 800px;
    overflow-y: auto;
    background-color: white;
    box-shadow: 0 4px 20px 0 rgba(46, 199, 46, 0.8);
    text-align: justify;
    margin-bottom: 10px;
}

#chatTable {
    height: 700px;
    width: auto;
    overflow-y: auto;
}

.wrapper-right {
    display: flex;
    justify-content: right;
}

.wrapper-left {
    display: flex;
    justify-content: left;
}

.admintext {
    color: red;
}

.guesttext {
    color: white;
}

.myBubble {
    position: relative;
    background: linear-gradient(0deg, #1079ce 5%, #a3e3f0 100%);
    color: #FFFFFF;
    font-family: Arial;
    font-size: 20px;
    box-shadow: 5px 5px 2px 0px #A3A3A3;
    text-align: right;
    max-width: 500px;
    width: fit-content;
    height: auto;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

/* .myBubble:after {
    margin-top: 20px;
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-width: 0 20px 20px 0;
    border-color: transparent #1079ce transparent transparent;
    bottom: -20px;
    left: 86%;
    margin-left: -10px;
} */

.yourBubble {
    position: relative;
    background: linear-gradient(0deg, #23ba26 5%, #4df0a4 100%);
    color: #FFFFFF;
    font-family: Arial;
    font-size: 20px;
    box-shadow: 5px 5px 2px 0px #A3A3A3;
    text-align: left;
    max-width: 500px;
    width: fit-content;
    height: auto;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

/* .yourBubble:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-width: 20px 20px 0 0;
    border-color: #23ba26 transparent transparent transparent;
    bottom: -20px;
    left: 18%;
    margin-left: -10px;
} */
</style>