<template>
    <div>
        <img src="http://localhost:8080/images/homepage_v1.png" alt="">
    </div>

</template>
<script>

export default {
    name: 'HomePage',
    data:() => ({}),

}

</script>

<style scoped>
div {
    margin-top: 100px;
    width: 775px;
    margin-left: 210px;
    margin-right: 210px;
}

img {
    border-radius: 10px;
    box-shadow: 0 4px 20px 0 rgba(46, 199, 46, 0.8);
}
</style>