<template>
    <div class="navbar">
        <vs-navbar right-collapsed v-model="navselection">
            <v-tooltip left>
                <template v-slot:activator="{ on, attrs }">
                    <v-text-field v-bind="attrs" v-on="on" class="searchfield"
                        v-model="searchName" placeholder="Search SkyConnect..." :append-icon="'mdi-magnify'"
                        v-on:keyup.enter="searchUsers"></v-text-field>
                </template>
                <span>Press Enter to search</span>
            </v-tooltip>
            <v-btn text @click="showDateRangePicker">
                <v-icon>
                    {{ chevron_icon }}
                </v-icon>
            </v-btn>

            <v-menu v-if="minDateShow" ref="menuSearch1" v-model="menuSearch1" :close-on-content-click="false"
                transition="scale-transition" offset-y min-width="auto">
                <template v-slot:activator="{ on, attrs }">
                    <v-text-field v-model="dateSearch1" label="Birthday date" prepend-icon="mdi-calendar" readonly class="searchfield"
                        v-bind="attrs" v-on="on"></v-text-field>
                </template>
                <v-date-picker v-model="dateSearch1" :active-picker.sync="activePickerSearch1"
                    :max="(new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10)"
                    min="1950-01-01" @change="saveSearch1"></v-date-picker>
            </v-menu>


            <v-menu v-if="maxDateShow" ref="menuSearch2" v-model="menuSearch2" :close-on-content-click="false"
                transition="scale-transition" offset-y min-width="auto">
                <template v-slot:activator="{ on, attrs }">
                    <v-text-field v-model="dateSearch2" label="Birthday date" prepend-icon="mdi-calendar" readonly class="searchfield"
                        v-bind="attrs" v-on="on"></v-text-field>
                </template>
                <v-date-picker v-model="dateSearch2" :active-picker.sync="activePickerSearch2"
                    :max="(new Date(Date.now() - (new Date()).getTimezoneOffset() * 60000)).toISOString().substr(0, 10)"
                    min="1950-01-01" @change="saveSearch2"></v-date-picker>
            </v-menu>

            <v-text-field v-if="emailSearchShow && user.role == 'ADMIN'" v-bind="attrs" v-on="on" class="searchfield"  style="margin-left:10px;"
                        v-model="searchByEmail" placeholder="Search by email..." prepend-icon="mdi-at"
                        v-on:keyup.enter="searchUsers"></v-text-field>

            <template #right>
                <v-menu bottom min-width="200px" rounded offset-y>
                    <template v-slot:activator="{ on }">
                        <v-btn icon x-large v-on="on">
                            <v-avatar color="brown" size="48">
                                <img :src="avatar" alt="">
                            </v-avatar>
                        </v-btn>
                        <admin_badge v-if="user.role === 'ADMIN'" :svgColor="'#00ff00'" style="margin-right: -15px;" />
                    </template>
                    <v-card>
                        <v-list-item-content transition="slide-x-transition" class="justify-center">
                            <div class="mx-auto text-center">
                                <v-avatar color="brown">
                                    <img :src="avatar" alt="">
                                </v-avatar>
                                <h3>{{ user.name }} {{ user.surname }}</h3>
                                <p class="text-caption mt-1">
                                    {{ user.email }}
                                </p>
                                <v-divider class="my-3"></v-divider>
                                <v-btn depressed rounded text>
                                    <span @click="show_profile_modal = !show_profile_modal">Profile</span>
                                </v-btn>
                                <v-divider class="my-3"></v-divider>
                                <v-btn depressed rounded text>
                                    Settings & Privacy
                                </v-btn>
                                <v-divider class="my-3"></v-divider>
                                <v-btn depressed rounded text>
                                    Help & Security
                                </v-btn>
                                <v-divider class="my-3"></v-divider>
                                <v-btn depressed rounded text @click="logout">
                                    Log Out
                                </v-btn>
                            </div>
                        </v-list-item-content>
                    </v-card>
                </v-menu>

            </template>

        </vs-navbar>

        <!-- PROFILE MODAL -->
        <div class="center">
            <vs-dialog v-model="show_profile_modal" v-on:close="onDialogClose">
                <template #header>
                    <v-avatar color="brown" size="64">
                        <img :src="avatar" alt="">
                    </v-avatar>

                </template>
                <div class="picture-form">
                    <v-file-input @change="addImg($event)" prepend-icon="mdi-camera" label="Change avatar">
                    </v-file-input>
                    <vs-button success @click="changeProfilePicture">Confirm</vs-button>
                </div>

                <hr>
                <div class="con-form">
                    <span>{{ user.name }} {{ user.surname }}</span> <br>
                    <span>Email: {{ user.email }}</span> <br>
                    <span>Gender: {{ user.gender }}</span> <br>
                    <span>Birthdate: {{ user.dateOfBirth }}</span> <br>
                    <span>Friends: {{ user.friends.length }}</span> <br>
                    <span>Blocked: {{ user.blocked.length }}</span> <br>
                    <vs-switch @change="changePrivacy"
                        style="width: 100px; margin-left: auto; margin-right: auto; margin-bottom: 15px;"
                        v-model="accIsPrivate">
                        <template #off>
                            <span style="font-size:large">Public</span>
                        </template>
                        <template #on>
                            <span style="font-size:large">Private</span>
                        </template>
                    </vs-switch>


                </div>
                <hr>
                <template #footer>
                    <div>
                        <v-text-field v-model="oldPassword" label="Old password" :type="'password'"
                            hint="At least 8 characters" required />
                    </div>
                    <div>
                        <v-text-field v-model="newPassword1" label="New password" :type="'password'"
                            hint="At least 8 characters"
                            :rules="[confirmPasswordRules.required, confirmPasswordRules.min]" required />
                    </div>
                    <div>
                        <v-text-field v-model="newPassword2" label="Confirm new password" :type="'password'"
                            hint="At least 8 characters" :rules="[confirmPasswordRules.required]" required />
                    </div>
                    <div class="footer-dialog">
                        <vs-button @click="changePassword" success block>
                            Update password
                        </vs-button>
                    </div>
                </template>
            </vs-dialog>
        </div>

        <vs-dialog not-padding v-model="notifAlert">
            <NotificationAlert :message="alertMsg" />
        </vs-dialog>
        <vs-dialog not-padding v-model="errorAlert">
            <ErrorAlert :message="alertMsg" />
        </vs-dialog>

    </div>
</template>

<script>

import admin_badge from '@/assets/people/verified_user_opsz40.vue';

import NotificationAlert from '@/components/alerts/NotificationAlert.vue';
import ErrorAlert from '@/components/alerts/ErrorAlert.vue';

import axios from 'axios';

export default {
    name: 'LoggedNavbar',

    mounted() {
        let userwithtoken = JSON.parse(sessionStorage.getItem('state'));
        this.user = userwithtoken.user;
        this.token = userwithtoken.token;

        this.avatar = this.user.profilePicture;
        this.accIsPrivate = this.user.privated
    },

    data: () => ({
        dateSearch1: '',
        activePickerSearch1: null,
        dateSearch2: '',
        activePickerSearch2: null,
        searchByEmail: '',

        emailSearchShow: false,
        menuSearch1: false,
        menuSearch2: false,
        minDateShow: false,
        maxDateShow: false,

        chevron_icon_right: 'mdi-chevron-right',
        chevron_icon_left: 'mdi-chevron-left',
        chevron_icon: 'mdi-chevron-right',
        show_profile_modal: false,
        searchName: '',
        navselection: 'guide',

        user: null,
        token: '',
        avatar: '',
        accIsPrivate: false,

        oldPassword: '',
        newPassword1: '',
        newPassword2: '',
        confirmPasswordRules: {
            required: (value) => value === this.regPassword || 'Passwords need to match.',
            min: v => v.length >= 8 || 'Min 8 characters'
        },

        newProfilePicture: null,

        errorAlert: false,
        notifAlert: false,
        alertMsg: ''
    }),
    components: {
        admin_badge,
        NotificationAlert,
        ErrorAlert
    },
    methods: {
        logout() {
            axios.defaults.headers.common['Authorization'] = this.token;
            axios.get("/logout/"+this.user.id);
            this.user = null;
            this.token = '';
            sessionStorage.clear();
            this.$router.push('/');
        },
        changePassword() {
            let data = {
                'oldPassword': this.oldPassword,
                'newPassword1': this.newPassword1,
                'newPassword2': this.newPassword2,
                'userid': this.user.id
            }
            let self = this;
            axios.defaults.headers.common['Authorization'] = this.token;
            axios.post('/user/changepassword', data)
                .then((res) => {
                    self.alertMsg = res.data.message;
                    self.notifAlert = true;
                    self.oldPassword = '';
                    self.newPassword1 = '';
                    self.newPassword2 = '';
                }).catch((err) => {
                    self.alertMsg = err.response.data.message;
                    self.errorAlert = true;
                })
        },
        addImg(e) {
            const image = e;
            this.newProfilePicture = e;
            console.log(image)
            const reader = new FileReader();
            reader.readAsDataURL(image);
            reader.onload = e => {
                this.avatar = e.target.result;
                console.log(this.photo);
            };
        },
        onDialogClose() {
            this.avatar = this.user.profilePicture;
        },
        changeProfilePicture() {
            if (this.newProfilePicture == null) {
                return;
            }
            let config = { header: { 'Content-Type': 'multipart/form-data' } }
            let data = new FormData();
            data.append('file', this.newProfilePicture);
            data.append('userid', this.user.id);
            axios.defaults.headers.common['Authorization'] = this.token;
            axios.post("/upload/avatar", data, config)
                .then((res) => {
                    let userwithtoken = JSON.parse(sessionStorage.getItem('state'));
                    userwithtoken.user = res.data;
                    sessionStorage.setItem('state', JSON.stringify(userwithtoken));
                    location.reload();
                }).catch((err) => {
                    self.alertMsg = err.response.data.message;
                    self.errorAlert = true;
                })
        },
        showDateRangePicker() {
            if (this.chevron_icon == this.chevron_icon_right) {
                this.chevron_icon = this.chevron_icon_left
                this.minDateShow = true;
                this.maxDateShow = true;
                if (this.user.role == 'ADMIN') {
                    this.emailSearchShow = true;
                }
            } else {
                this.chevron_icon = this.chevron_icon_right
                this.minDateShow = false;
                this.maxDateShow = false;
                this.emailSearchShow = false;
                this.dateSearch1 = '';
                this.dateSearch2 = '';
            }


        },
        searchUsers() {
            let self = this;
            if (this.user.role == 'ADMIN' && this.searchByEmail != '') {
                axios.get('/admin/search-by-email/' + this.searchByEmail)
                .then((res) => {
                    sessionStorage.setItem('searchResults', JSON.stringify(res.data));
                    self.$router.push('/user/results');
                }).catch((err) => {
                    console.log(err);
                })
            } else {
                axios.get('/user/search?name=' + this.searchName + '&minDate=' + this.dateSearch1 + '&maxDate=' + this.dateSearch2)
                .then((res) => {
                    sessionStorage.setItem('searchResults', JSON.stringify(res.data));
                    self.$router.push('/user/results');

                }).catch((err) => {
                    console.log(err);
                })
            }
            
        },
        saveSearch1(date) {
            this.$refs.menuSearch1.save(date)
        },
        saveSearch2(date) {
            this.$refs.menuSearch2.save(date)
        },

        changePrivacy() {
            axios.defaults.headers.common['Authorization'] = this.token;
            axios.get("/user/private?userid=" + this.user.id + "&privated=" + this.accIsPrivate).
                then((res) => { console.log(res) })
        }
    }
}
</script>

<style scoped>
.picture-form {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    width: calc(100%);
}

.footer-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: calc(100%);
}

.navbar {
    position: fixed;
    /* fixing the position takes it out of html flow - knows
                   nothing about where to locate itself except by browser
                   coordinates */
    left: 0;
    /* top left corner should start at leftmost spot */
    top: 0;
    /* top left corner should start at topmost spot */
    width: 100vw;
    /* take up the full browser width */
    z-index: 200;
    /* high z index so other content scrolls underneath */
    height: 100px;
    /* define height for content */
}

.v-input.searchfield {
    height: 30px;
    padding-top: 0px;
}

.con-form {
    display: run-in;
    width: auto;
    text-align: center;
    font-size: 24px;
}

.con-form .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.con-form .flex a {
    font-size: 0.8rem;
    opacity: 0.7;
}

.con-form .flex a:hover {
    opacity: 1;
}

.con-form .vs-checkbox-label {
    font-size: 0.8rem;
}

.con-form .vs-input-content {
    margin: 10px 0px;
    width: calc(100%);
}

.con-form .vs-input-content .vs-input {
    width: 100%;
}
</style>
