<template>
    <div>
        <vs-card class="mx-auto my-4">
            <template #img>
                <img :src="post.picture">
            </template>
            <template #interactions>
                <vs-button @click="showmodal" dark icon>
                    <info :svgColor="'#ffffff'"></info>
                </vs-button>
            </template>

        </vs-card>

        <div class="center">
            <vs-dialog v-model="show_post_modal">
                <PostCard :post="post" :comments="post.comments" :user="user" />
            </vs-dialog>
        </div>
    </div>

</template>

<script>

import PostCard from '@/components/cards/PostCard.vue';
import info from '@/assets/util/info_opsz24.vue';

export default {
    data: () => ({
        show_post_modal: false
    }),
    methods: {
        showmodal() {
            this.show_post_modal = !this.show_post_modal;
        }
    },
    components: {
        PostCard,
        info
    },
    props: ['post', 'user']
}
</script>

<style scoped>
img {
    width: 200px;
    height: 200px;
    object-fit: none;
}
</style>