<template>
    <div>
        <v-card :loading="loading" class="mx-auto my-12" width="800" v-if="!post.isDeleted">
            <template slot="progress">
                <v-progress-linear color="deep-purple" height="10" indeterminate></v-progress-linear>
            </template>

            <v-card-title>
                <v-avatar color="brown" size="48">
                    <img :src="post.poster.profilePicture" alt="">
                </v-avatar>
                <span style="margin-left: 10px;">{{ post.poster.name }} {{ post.poster.surname }}</span> <br>

                <v-spacer></v-spacer>

                <div v-if="viewer.role == 'ADMIN' || viewer.id == post.posterId">
                    <vs-tooltip bottom color="#aaaaaa">
                        <v-btn icon large @click="deletePost">
                            <del_icon :svgColor="'#ff0000'" />
                        </v-btn>
                        <template #tooltip>
                            Delete post
                        </template>

                    </vs-tooltip>
                </div>
            </v-card-title>
            <v-card-text>
                <v-row>
                    <span style="margin-left: 20px;">Date posted: {{ post.date }}</span>

                </v-row>

            </v-card-text>

            <img width="100%" :src="post.picture" alt="There is no photo.">

            <v-card-text>
                <v-row>
                    {{ post.description }}
                </v-row>
            </v-card-text>

            <v-divider></v-divider>

            <v-card-actions>
                <v-btn v-if="viewer.id != -1" color="green lighten-2" text @click="commentDialog = !commentDialog">
                    +Post comment
                </v-btn>
                <v-dialog v-model="commentDialog" persistent max-width="600px">

                    <v-card>
                        <v-card-text>
                            <v-container>
                                <v-row>
                                    <v-col cols="12">
                                        <v-textarea v-model="comment" filled auto-grow
                                            label="What do you have to say...?" rows="4" row-height="30" shaped>
                                        </v-textarea>
                                    </v-col>
                                </v-row>
                            </v-container>
                        </v-card-text>
                        <v-card-actions>
                            <v-btn color="blue darken-1" text @click="commentDialog = false; comment = '';">
                                Close
                            </v-btn>
                            <v-btn color="blue darken-1" text @click="makeComment">
                                Post
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>

                <v-dialog v-model="commentEditDialog" persistent max-width="600px">

                    <v-card>
                        <v-card-text>
                            <v-container>
                                <v-row>
                                    <v-col cols="12">
                                        <v-textarea v-model="tempCommentChange" filled auto-grow
                                            label="What do you have to say...?" rows="4" row-height="30" shaped>
                                        </v-textarea>
                                    </v-col>
                                </v-row>
                            </v-container>
                        </v-card-text>
                        <v-card-actions>
                            <v-btn color="blue darken-1" text
                                @click="commentEditDialog = false; tempCommentChange = ''; editedCommentId = null;">
                                Close
                            </v-btn>
                            <v-btn color="blue darken-1" text @click="editComment">
                                Edit
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>

                <v-spacer></v-spacer>

                <v-btn icon @click="show = !show" large>
                    <comment_icon :svgColor="'#aaaaaa'" />
                </v-btn>

            </v-card-actions>

            <v-expand-transition v-for="(com, idx) in comments" :key="idx">
                <div v-show="show" v-if="!com.deleted">
                    <v-divider></v-divider>

                    <v-card-subtitle>

                        <v-avatar color="brown" size="48">
                            <img :src="com.poster.profilePicture" alt="">
                        </v-avatar>
                        <span style="margin-left: 10px;">{{ com.poster.name }} {{ com.poster.surname }}</span> <br>
                        Date posted: {{ com.date }} <br>
                        <b v-if="com.edited">Edited</b>
                        <vs-tooltip bottom color="#aaaaaa" v-if="viewer.role == 'ADMIN'">
                            <v-btn icon large @click="deleteComment(com.id)">
                                <del_icon :svgColor="'#ff0000'" />
                            </v-btn>
                            <template #tooltip>
                                Delete comment
                            </template>
                        </vs-tooltip>
                    </v-card-subtitle>

                    <v-card-text style="text-align:left;">
                        {{ com.comment }}

                    </v-card-text>
                    <v-card-actions>
                        <vs-tooltip bottom color="#aaaaaa">
                            <v-btn text v-if="viewer.id == com.poster.id" @click="openEditDialog(com.comment, com.id)">
                                <edit_icon :svgColor="'#555555'" />
                            </v-btn>
                            <template #tooltip>Edit comment</template>
                        </vs-tooltip>
                    </v-card-actions>
                </div>
            </v-expand-transition>
        </v-card>
        <vs-dialog not-padding v-model="notifAlert">
            <NotificationAlert :message="alertMsg" />
        </vs-dialog>
        <vs-dialog not-padding v-model="errorAlert">
            <ErrorAlert :message="alertMsg" />
        </vs-dialog>
    </div>

</template>

<script>

import comment_icon from '@/assets/post/comment_opsz40.vue';
import edit_icon from '@/assets/post/edit_note_opsz24.vue';
import del_icon from '@/assets/util/delete_opsz48.vue';

import NotificationAlert from '@/components/alerts/NotificationAlert.vue';
import ErrorAlert from '@/components/alerts/ErrorAlert.vue';

import axios from 'axios';

export default {
    data: () => ({
        loading: false,
        show: false,
        selection: 1,
        commentDialog: false,
        comment: '',
        commentEditDialog: false,
        tempCommentChange: '',
        editedCommentId: null,

        errorAlert: false,
        notifAlert: false,
        alertMsg: ''
    }),

    methods: {
        reserve() {
            this.loading = true

            setTimeout(() => (this.loading = false), 2000)
        },
        editComment() {
            axios.defaults.headers.common['Authorization'] = this.token;
            let data = {
                'editedCommentText': this.tempCommentChange,
                'commentId': this.editedCommentId,
                'userid': this.viewer.id
            }
            let self = this;
            axios.put('/comment/edit', data)
                .then((res) => {
                    self.tempCommentChange = '';
                    self.editedCommentId = null;
                    self.alertMsg = res.data.message;
                    self.notifAlert = true;
                    self.commentEditDialog = false;
                    location.reload();
                }).catch((err) => {
                    self.alertMsg = err.response.data.message;
                    self.errorAlert = true;
                    self.commentEditDialog = false;
                })
        },
        makeComment() {
            axios.defaults.headers.common['Authorization'] = this.token;
            this.commentDialog = false;
            let newComment = {
                'userid': this.viewer.id,
                'comment': this.comment,
                'postid': this.post.id
            }
            axios.post('/comment/post', newComment)
                .then((res) => {
                    let comment = res.data;
                    // eslint-disable-next-line
                    this.comments.push(comment);
                }).catch((err) => {
                    self.alertMsg = err.response.data.message;
                    self.errorAlert = true;
                });
        },
        deletePost() {
            axios.defaults.headers.common['Authorization'] = this.token;
            axios.delete('/delete/post/' + this.post.id)
                .then((res) => {
                    self.alertMsg = res.data.message;
                    self.notifAlert = true;
                    location.reload();
                }).catch((err) => {
                    self.alertMsg = err.response.data.message;
                    self.errorAlert = true;
                });
        },
        deleteComment(comid) {
            axios.defaults.headers.common['Authorization'] = this.token;
            axios.delete('/delete/comment/' + comid)
                .then((res) => {
                    self.alertMsg = res.data.message;
                    self.notifAlert = true;
                    location.reload();
                }).catch((err) => {
                    self.alertMsg = err.response.data.message;
                    self.errorAlert = true;
                });
        },

        openEditDialog(comment, commentId) {
            this.tempCommentChange = comment;
            this.commentEditDialog = true;
            this.editedCommentId = commentId;
        }
    },
    components: {
        comment_icon,
        edit_icon,
        del_icon,
        NotificationAlert,
        ErrorAlert
    },
    props: ['post', 'comments', 'user', 'token', 'viewer']
}
</script>

<style scoped>
v-card {
    box-shadow: 0 4px 20px 0 rgba(46, 199, 46, 0.8) !important;
}
</style>