<template>
    <table>
        <tr>
            <td>
               <p><b> TERMS OF USE</b></p>
                <p>Following text contains PR nonsense:</p>
                <p>
                    Veniam veniam ut aute ut elit aliqua fugiat do. Commodo elit voluptate consectetur aliquip enim in
                    eu nulla sint culpa exercitation. Ipsum duis eiusmod ad irure enim. Officia sint voluptate aute
                    cillum laborum Lorem ad proident et qui Lorem amet minim cupidatat. Commodo ut Lorem reprehenderit
                    aliquip irure aliqua sunt cupidatat reprehenderit excepteur. Sit nisi et non aliqua consequat sint.
                    Occaecat amet in id ea eiusmod tempor duis elit enim esse quis minim.
                </p>
                <p>
                    Nulla eu amet cillum tempor nisi non commodo ullamco irure. Excepteur dolor sint nisi ut velit
                    ullamco do quis commodo reprehenderit nulla eu nostrud qui. Mollit labore sit dolor minim deserunt.
                    Reprehenderit sunt cillum aliqua est. Eiusmod consequat exercitation culpa commodo.
                </p>
                <p>
                    Laboris anim cupidatat eu amet proident amet nostrud do. Esse anim eu est dolore qui pariatur
                    cillum. Qui reprehenderit cillum sunt voluptate fugiat est eiusmod laboris laboris exercitation
                    elit. Dolor dolore exercitation sunt pariatur. Exercitation velit eu Lorem esse esse. Duis excepteur
                    ex Lorem id est sunt.
                </p>
                <p>
                    Sint deserunt sint qui proident exercitation tempor incididunt consequat labore. Deserunt nulla
                    eiusmod minim tempor nostrud proident ad sint ex pariatur sit consectetur voluptate mollit. Sunt
                    proident aliqua aliqua proident dolore minim dolore sit laborum ex. Mollit ullamco ullamco veniam
                    labore nisi eu do tempor veniam nulla ut officia.
                </p>
                <p>
                    Tempor sint reprehenderit ullamco aliqua laboris reprehenderit nostrud ad. Fugiat ex aliqua est
                    eiusmod magna sint Lorem sunt. Ullamco tempor Lorem ipsum exercitation ut. Nisi ut sunt consectetur
                    officia ipsum dolor proident nisi dolor voluptate veniam ipsum voluptate reprehenderit. Laboris
                    magna aute id tempor nisi qui pariatur. Commodo ullamco velit est aute do. Deserunt id occaecat do
                    consequat adipisicing nisi voluptate reprehenderit mollit cillum commodo commodo.
                </p>
                <p>
                    Elit minim magna in culpa ipsum excepteur veniam cupidatat consectetur ea id laborum nisi. Officia
                    et sit do reprehenderit ea in velit elit. Elit reprehenderit excepteur ea quis do do sunt fugiat
                    fugiat dolor. Elit excepteur ad magna sint aliquip aliqua proident occaecat nisi ullamco minim.
                    Cupidatat nisi ullamco reprehenderit dolor sit aliqua ad mollit duis laborum elit.
                </p>
                <p>
                    Esse veniam quis tempor deserunt esse consequat nisi anim officia veniam ut fugiat. Eu voluptate
                    ipsum dolor fugiat excepteur qui irure incididunt nisi. Aliqua nisi veniam ea consequat enim
                    excepteur est tempor veniam reprehenderit culpa fugiat. Nulla anim reprehenderit adipisicing quis
                    irure sint eiusmod. Ea culpa mollit irure reprehenderit irure culpa Lorem nisi sunt veniam
                    voluptate. Consequat voluptate incididunt est ipsum incididunt ea aliqua aliquip est ea minim. Ea
                    exercitation commodo cupidatat voluptate magna duis nulla pariatur esse duis duis magna.
                </p>
                <p>
                    Nisi ex incididunt labore mollit quis id ullamco amet laborum sunt exercitation ex. Quis
                    exercitation culpa labore velit consequat mollit mollit occaecat eiusmod consequat fugiat veniam
                    mollit ad. Exercitation enim nostrud laborum sit elit tempor ut eiusmod ad aliqua. Mollit sint
                    reprehenderit laborum magna duis enim. Ea sunt fugiat qui irure excepteur in ipsum labore excepteur.
                    Laborum magna veniam ea veniam mollit nostrud excepteur fugiat.
                </p>
                <p>
                    Consequat incididunt laboris elit esse sint. Pariatur dolor cillum minim consectetur occaecat velit
                    non id excepteur velit tempor. Ipsum ea irure quis minim qui proident.
                </p>
                <p>
                    Anim cupidatat minim nulla excepteur dolore consequat. Ea minim ipsum cillum aute eu incididunt ex
                    adipisicing consectetur quis velit. Ex aliquip cillum et elit. Aliqua proident exercitation sint ea
                    deserunt ut non velit occaecat nostrud. Pariatur minim proident laborum reprehenderit Lorem
                    excepteur duis deserunt laboris labore in exercitation laborum. Aliqua in anim magna id nisi sunt do
                    ex exercitation occaecat pariatur proident enim.
                </p>
            </td>
        </tr>
    </table>
</template>

<script>

export default {
    name: 'LicensePage'
}

</script>

<style scoped>

table {
    border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
    padding: 15px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    background-color: white;
    box-shadow: 0 4px 20px 0 rgba(46, 199, 46, 0.8);
    text-align: justify;
    margin-bottom: 10px;
}

</style>