<template>
    <div class="container">
        <div v-if="blocked_users.length == 0">
            <h1><span style="color: crimson;">YOU HAVE NO BLOCKED USERS</span></h1>
        </div>
        <div v-else v-for="(person, idx) in blocked_users" :key="idx" class="image">
            <PersonCard :person="person" :user="user" :token="token" :pendingRequest="false" />
        </div>
    </div>
</template>

<script>

import PersonCard from '@/components/cards/PersonCard.vue';
import axios from 'axios';

export default {
    name: 'BlockedUsers',
    mounted() {
        let userwithtoken = JSON.parse(sessionStorage.getItem('state'));
        this.user = userwithtoken.user;
        this.token = userwithtoken.token;
        let self = this;
        axios.defaults.headers.common['Authorization'] = this.token;
        axios.get('/user/blocked/' + this.user.id)
            .then((res) => {
                self.blocked_users = res.data;
                console.log(self.blocked_users);
            })
    },
    data: () => ({
        user: null,
        token: '',
        blocked_users: null
    }),
    components: {
        PersonCard
    }
}
</script>

<style scoped>
.container {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

}

.image {
    margin-right: 10px;
    margin-bottom: 10px;
}
</style>