<template>
    <div>
        <ProfileCard :profilePicture="user.profilePicture" :user="user" :token="token"></ProfileCard>
        <div class="container">
            <div v-for="(post, idx) in posts" :key="idx" class="image">
                <PictureCard :post="post" :user="user" />
            </div>
        </div>
        <vs-dialog not-padding v-model="errorAlert">
            <ErrorAlert :message="alertMsg" />
        </vs-dialog>
    </div>

</template>

<script>

import PictureCard from '@/components/cards/PictureCard.vue';
import ProfileCard from '@/components/cards/ProfileCard.vue';

import ErrorAlert from '@/components/alerts/ErrorAlert.vue';

import axios from 'axios';
export default {
    name: 'MyGallery',
    mounted() {
        let userwithtoken = JSON.parse(sessionStorage.getItem('state'));
        this.user = userwithtoken.user;
        this.token = userwithtoken.token;
        let self = this;
        axios.defaults.headers.common['Authorization'] = this.token;
        axios.get('/user/gallery/pictures?userid=' + this.user.id)
            .then((res) => {
                self.posts = res.data;
                console.log(self.posts);
            }).catch((err) => {
                self.alertMsg = err.response.data.message;
                self.errorAlert = true;
            });
    },
    data: () => ({
        user: null,
        token: '',
        posts: [],

        errorAlert: false,
        alertMsg: ''
    }),
    components: {
        PictureCard,
        ProfileCard,
        ErrorAlert
    }
}

</script>

<style scoped>
.container {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

}

.image {
    margin-right: 10px;
}
</style>