<template>
    <div>
        <ProfileCard :profilePicture="user.profilePicture" :user="user" :token="token"></ProfileCard>
        <v-responsive v-for="(post, idx) in posts" :key="idx">
            <v-responsive class="text-center pa-2">
                <v-lazy v-model="isActive" :options="{
                    threshold: .5
                }" min-height="200">
                    <template>
                        <PostCard :post="post" :comments="post.comments" :user="user" :token="token" :viewer="user" />
                    </template>
                </v-lazy>
            </v-responsive>
        </v-responsive>
        <vs-dialog not-padding v-model="errorAlert">
            <ErrorAlert :message="alertMsg" />
        </vs-dialog>
    </div>
</template>

<script>
import PostCard from '@/components/cards/PostCard.vue';
import ProfileCard from '@/components/cards/ProfileCard.vue';

import ErrorAlert from '@/components/alerts/ErrorAlert.vue';

import axios from 'axios';

export default {
    mounted() {
        let userwithtoken = JSON.parse(sessionStorage.getItem('state'));
        this.user = userwithtoken.user;
        this.token = userwithtoken.token;

        let self = this;
        axios.defaults.headers.common['Authorization'] = this.token;
        axios.get('/user/myposts/posts?userid=' + this.user.id)
            .then((res) => {
                self.posts = res.data;
                console.log(self.posts);
            }).catch((err) => {
                self.alertMsg = err.response.data.message;
                self.errorAlert = true;
            });

    },
    data: () => ({
        isActive: false,
        user: null,
        token: '',
        posts: [],

        errorAlert: false,
        alertMsg: ''
    }),
    components: {
        PostCard,
        ProfileCard,
        ErrorAlert
    }
}

</script>

<style scoped>
</style>