<template>
    <div class="container">
        <div v-if="requests.length == 0">
            <h1><span style="color: crimson;">NOBODY WANTS TO BE FRIENDS WITH YOU</span></h1>
        </div>
        <div v-else v-for="(request, idx) in requests" :key="idx" class="image" stagger="50">
            <PersonCard :person="request.person" :user="user" :token="token" :pendingRequest="request" />
        </div>
    </div>
</template>

<script>

import PersonCard from '@/components/cards/PersonCard.vue';
import axios from 'axios';

export default {
    name: 'SearchResults',
    created() {
        let userwithtoken = JSON.parse(sessionStorage.getItem('state'));
        this.user = userwithtoken.user;
        this.token = userwithtoken.token;

        let self = this;
        axios.defaults.headers.common['Authorization'] = this.token;
        axios.get('/friendrequest/getall/' + this.user.id)
            .then((res1) => {
                res1.data.forEach((r) => {
                    axios.defaults.headers.common['Authorization'] = self.token;
                    axios.get('/user/getperson/' + r.sender)
                        .then((res) => {
                            r.person = res.data;
                            self.requests.push(r);
                        })

                })
            }).catch((err) => {
                console.log(err);
            })

    },
    data: () => ({
        requests: [],

        user: null,
        token: ''
    }),
    components: {
        PersonCard
    }
}
</script>

<style scoped>
.container {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

}

.image {
    margin-right: 10px;
    margin-bottom: 10px;
}
</style>