<template>
    <div class="container">
        <div v-if="searchResults.length == 0">
            <h1><span style="color: crimson;">THERE ARE NO USERS THAT FIT THESE PARAMETERS</span></h1>
        </div>
        <div v-else v-for="(person, idx) in searchResults" :key="idx" class="image">
            <PersonCard :person="person" :user="user" :token="token" :pendingRequest="false" />
        </div>
    </div>
</template>

<script>

import PersonCard from '@/components/cards/PersonCard.vue';

export default {
    name: 'SearchResults',
    mounted() {
        this.searchResults = JSON.parse(sessionStorage.getItem('searchResults'));

        let userwithtoken = JSON.parse(sessionStorage.getItem('state'));
        this.user = userwithtoken.user;
        this.token = userwithtoken.token;
    },
    data: () => ({
        searchResults: [],

        user: null,
        token: ''
    }),
    components: {
        PersonCard
    }
}
</script>

<style scoped>
.container {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

}

.image {
    margin-right: 10px;
    margin-bottom: 10px;
}
</style>